[submodule "Jazz/vendor/spdlog"]
	path = Jazz/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Jazz/vendor/GLFW"]
	path = Jazz/vendor/GLFW
	url = https://github.com/glfw/glfw.git
    branch = master
[submodule "Jazz/vendor/imgui/imgui"]
	path = Jazz/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
    branch = docking
[submodule "Jazz/vendor/glm"]
	path = Jazz/vendor/glm
	url = https://github.com/g-truc/glm.git
    branch = master
