[submodule "Jazz/vendor/spdlog"]
	path = Jazz/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Jazz/vendor/GLFW"]
	path = Jazz/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Jazz/vendor/imgui/imgui"]
	path = Jazz/vendor/imgui/imgui
	url = https://github.com/ocornut/imgui.git
